body{
    background-color:#bebebe;
}

h1{
    text-align:center;
    color:#ffffff;
}

.Bot1{
    width:100%;
    height:50px;
}

.top{
    background-color:#46285b;
    width:100%;
    height:100px;
  
    top:0px;

}

.buttons{
    height:220px;

    background-color:#ffffff;

}

.logo {
    height: 110px;
    width: auto;
    display: block;
    margin: 0 auto;
}